.media-object {
    width: 40px;
    height: 40px;
}

.media-body div {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.media-body h4.media-heading {
    font-size: 14px;
    cursor: pointer;
    color: #155faa;
}