<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LXG社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/publish.css" />

    <script src="js/jquery-1.12.4.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navgation :: nav}"></div>
<div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <h3><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h3>
        <form action="/publish" method = "post" id = "question">
            <div class="form-group">
                <label for="title">问题标题（简单扼要）:</label>
                <input type="text" class="form-control" name = "title" id="title" placeholder="问题标题">
            </div>
            <div class="form-group">
                <label for="description">问题补充 (必填，请参照右侧提示):</label>
                <textarea class="form-control" rows="20" name = "description" id = "description" ></textarea>
            </div>
            <div class="form-group">
                <label for="tag">添加标签：</label>
                <input type="text" class="form-control" name="tag" id="tag" placeholder="输入标签以,号分隔">
            </div>
            <div class="btn-toolbar" role="toolbar">
                <div class="alert alert-danger questionMsg"></div><div class="alert alert-danger" th:if="${error} ne null" th:text="${error}"></div><button type="submit" class="btn btn-default" style = "background: rgb(62,145,62); float:right; margin-bottom: 30px;">发布</button>
            </div>
        </form>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-success">
            <div class="panel-heading">LXG</div>
            <div class="panel-body">
                <p>作者QQ：2648835884</p>
            </div>
            <!-- Table -->
            <table class="table">
                <tr>
                    <th>问题发起指南</th>
                </tr>
                <tr>
                    <td>• 问题标题: 请用精简的语言描述您发布的问题，不超过25字</td>
                </tr>
                <tr>
                    <td>• 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：</td>
                </tr>
                <tr>
                    <td>• 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src = "js/question.js"></script>
</body>
</html>